<% if (errors && errors.length) { %>
  <% errors.forEach((err) => { %>
    <p class="alert alert-danger" style="width: 30%; margin: 0 auto;">Error: <%= err %></p>
  <% }) %>
<% } %>
<% if (info && info.length) { %>
  <% info.forEach((msg) => { %>
    <p class="alert alert-success">Info: <%= msg %></p>
  <% }) %>
<% } %>
<% if ((errors && errors.length) || (info && info.length)) { %>
<% } %>
