<%- include("partials/head.ejs") %> 
<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="container my-5"> 
  <div class="row justify-content-center align-items-center" style="min-height: 60vh;"> 
    <% if (user) { %>
      <div class="col-md-4 mb-3"> 
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Student</h5>
            <p class="card-text">If you are student click here to see your Quest progress</p>
            <a href="/schools" class="btn btn-success" style="background-color: #d1e7dd; color: #0c4128;">View Quest Progress</a> 
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Parent</h5>
            <p class="card-text">If you are parent click here to see your student's Quest progress</p>
            <a href="/schools" class="btn btn-success" style="background-color: #d1e7dd; color: #0c4128;">View School List</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 position-relative">
        <div class="card blur-effect" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Counselor</h5>
            <p class="card-text">If you are a counselor, click here to add information for your student</p>
            <a href="#" class="btn btn-success" style="background-color: #d1e7dd; color: #0c4128;">View Profile</a>
          </div>
          <div class="overlay">Under Construction</div>
        </div>         
      </div>
    <% } else { %>
      <div class="col-md-6 text-center mb-3">
        <a href="/sessions/logon" class="btn btn-success mt-3 w-75" style="background-color: #d1e7dd; color: #0c4128;" >Click this link to login.</a> 
      </div>
      <div class="col-md-6 text-center mb-3">
        <a href="/sessions/register" class="btn btn-secondary mt-3 w-75" >Click this link to register.</a>
      </div>
    <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>