<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="container" style="height: 60vh;">
  <div class="row h-100 justify-content-center align-items-center">
    <% if (user) { %>
      <!-- Quest Progress Link
      <div class="col-12 text-center mb-4">
        <a href="/jobs" class="btn" style="background-color: #d1e7dd; color: #0c4128;">Click this link to view your Quest progress.</a>
      </div> -->
      <!-- Student Box -->
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Student</h5>
            <p class="card-text">If you are student click here to see your Quest progress</p>
            <a href="/schools" class="btn" style="background-color: #d1e7dd; color: #0c4128;">View Quest Progress</a>
          </div>
        </div>
      </div>
      <!-- Parent Box -->
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body" >
            <h5 class="card-title">Parent</h5>
            <p class="card-text">If you are parent click here to see your student's Quest progress</p>
            <a href="/schools" class="btn" style="background-color: #d1e7dd; color: #0c4128; ">View Profile</a>
          </div>
        </div>
      </div>
      <!-- Counselor Box -->
      <div class="col-md-4 position-relative">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Counselor</h5>
                <p class="card-text">If you are a counselor, click here to add information for your student</p>
                <a href="#" class="btn" style="background-color: #d1e7dd; color: #0c4128;">View Profile</a>
            </div>
        </div>
        <div class="overlay d-flex justify-content-center align-items-center">Under Construction</div>
     </div>
    <% } else { %>
      <div class="col-md-6 text-center">
        <a href="/sessions/logon" class="btn mt-3" style="background-color: #d1e7dd; color: #0c4128; width: 60%;">Click this link to login.</a>
      </div>
      <div class="col-md-6 text-center">
        <a href="/sessions/register" class="btn btn-secondary mt-3" style="width: 60%;">Click this link to register.</a>
      </div>
    <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>