<%- include("partials/head.ejs") %> 
<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="container my-5"> 
  <div class="row justify-content-center align-items-center" style="min-height: 60vh;"> 
    <% if (user) { %>
      <!-- Student Box -->
      <div class="col-md-4 mb-3"> 
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Student</h5>
            <p class="card-text">
              <% if (user.role === 'student') { 
                  %>If you are a student click here to see your Quest progress<% } 
                  else { %>You don't have permission to view this page.<% } %>
            </p>
            <a href="<% if (user.role === 'student') { %>/schools<% } else { %>#<% } %>"
               class="btn btn-success <% if (user.role !== 'student') { %>disabled<% } %>" 
               style="background-color: #d1e7dd; color: #0c4128;">
                <% if (user.role === 'student') { %>View Quest Progress<% } 
                else { %>View Quest Progress<% } %>
            </a> 
          </div>
        </div>
      </div>
      <!-- Parent Box -->
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Parent</h5>
            <p class="card-text">
              <% if (user.role === 'parent') { 
                %>If you are a parent click here to see your student's Quest progress<% }
                 else { %>You don't have permission to view this page.<% } %></p>
            <a href="<% if (user.role === 'parent') { %>/connectStudent<% } else { %>#<% } %>"
               class="btn btn-success <% if (user.role !== 'parent') { %>disabled<% } %>" 
               style="background-color: #d1e7dd; color: #0c4128;">
                <% if (user.role === 'parent') { %>View School List<% }
                 else { %>View School List<% } %>
            </a>
          </div>
        </div>
      </div>
      <!-- Counselor Box (Under Construction) -->
      <div class="col-md-4 mb-3 position-relative">
        <div class="card blur-effect" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Counselor</h5>
            <p class="card-text">This section is under construction.</p>
            <a href="#" class="btn btn-success disabled" 
                        style="background-color: #d1e7dd; color: #0c4128;">
                          Under Construction
            </a>
          </div>
          <div class="overlay">Under Construction</div>
        </div>         
      </div>
    <% } else { %>
      <!-- Login and Register Links for Users Not Logged In -->
      <div class="col-md-6 text-center mb-3">
        <a href="/sessions/logon" class="btn btn-success mt-3 w-75" 
                                  style="background-color: #d1e7dd; color: #0c4128;">
                                    Click this link to login.
        </a> 
      </div>
      <div class="col-md-6 text-center mb-3">
        <a href="/sessions/register" class="btn btn-secondary mt-3 w-75">Click this link to register.</a>
      </div>
    <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>